In [1]:
import pandas as pd

In [60]:
x_b3lyp = pd.read_csv('../dataSets/X_b3lyp.csv', header=None)
y_b3lyp = pd.read_csv('../dataSets/Y_b3lyp.csv', header=None)
q_b3lyp = pd.read_csv('../dataSets/Q_b3lyp.csv', header=None)

In [61]:
x_cc = pd.read_csv('../dataSets/X_cc.csv', header=None)
y_cc = pd.read_csv('../dataSets/Y_cc.csv', header=None)
q_cc = pd.read_csv('../dataSets/Q_cc.csv', header=None)

In [62]:
x_b3lyp.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,C,1.350508,0.779024,0.663087,H,1.825709,1.257877,-0.189170,H,1.848891,...,0.559417,C,-1.832366,1.293790,-2.492349,N,-1.370433,2.318893,-2.582710,NaN
1,C,1.366716,0.804290,0.682895,H,1.759809,1.361483,-0.178094,H,1.814160,...,0.594701,C,-1.830842,1.305028,-2.473094,N,-1.354430,2.319260,-2.596931,NaN
2,C,-3.803611,-2.267309,0.764900,H,-3.796598,-3.150483,1.493531,H,-4.393698,...,1.937266,C,-2.613919,0.179199,2.330572,N,-2.536911,1.241336,2.765962,NaN
3,C,-2.927686,0.153773,-2.512119,H,-2.469427,0.822793,-1.821670,H,-2.475899,...,-1.970984,C,-3.879463,-0.205050,0.063446,N,-4.423705,-0.138430,1.097049,NaN
4,C,-3.450782,3.334512,4.114650,H,-4.447155,3.741390,4.341071,H,-4.552629,...,4.908800,C,-4.440723,-0.970431,3.946023,N,-4.649342,-2.117911,3.776332,NaN

In [63]:
x_cc.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,C,1.350508,0.779024,0.663087,H,1.825709,1.257877,-0.189170,H,1.848891,...,0.559417,C,-1.832366,1.293790,-2.492349,N,-1.370433,2.318893,-2.582710,NaN
1,C,-0.508647,-2.138874,-3.320668,H,-0.544965,-3.037079,-2.678530,H,-2.579219,...,-4.421351,C,-2.153129,-1.813992,-3.854247,N,-2.438829,-2.964101,-4.357528,NaN
2,C,-0.504580,-2.127047,-3.351115,H,-0.549416,-2.984488,-2.664035,H,-2.567575,...,-4.441800,C,-2.160016,-1.828700,-3.896619,N,-2.472412,-2.978231,-4.349456,NaN
3,C,-0.502243,-2.115798,-3.382988,H,-0.554538,-2.932268,-2.652238,H,-2.559810,...,-4.460943,C,-2.163732,-1.847595,-3.939204,N,-2.504302,-2.990485,-4.339823,NaN
4,C,-0.501943,-2.104652,-3.417862,H,-0.561078,-2.879059,-2.642257,H,-2.554239,...,-4.482919,C,-2.164832,-1.870366,-3.984235,N,-2.536896,-3.002506,-4.328452,NaN

In [64]:
y_b3lyp.columns=['energy_b3lyp']
y_cc.columns=['energy_cc']
y_b3lyp.head()

   energy_b3lyp
0   -133.198709
1   -133.195259
2   -133.215182
3   -133.191188
4   -133.232016

In [65]:
q_b3lyp.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,C,6.02800,H,0.73523,H,0.68241,H,0.78136,H,0.81510,C,6.68888,N,7.26902,NaN
1,C,5.99760,H,0.70386,H,0.84375,H,0.61992,H,0.83694,C,6.70741,N,7.29052,NaN
2,C,6.53289,H,0.82329,H,0.81079,H,0.82334,H,0.79477,C,6.01697,N,7.19795,NaN
3,C,6.39582,H,0.82589,H,0.83104,H,0.82435,H,0.76917,C,6.37168,N,6.98205,NaN
4,C,6.55348,H,0.81600,H,0.78670,H,0.81334,H,0.81373,C,6.02365,N,7.19309,NaN

In [66]:
q_b3lyp = q_b3lyp.drop([0,2,4,6,8,10,12,14], axis=1)
q_b3lyp.columns=['C1q', 'H1q','H2q','H3q','H4q','C2q','Nq']
q_b3lyp.head()

       C1q      H1q      H2q      H3q      H4q      C2q       Nq
0  6.02800  0.73523  0.68241  0.78136  0.81510  6.68888  7.26902
1  5.99760  0.70386  0.84375  0.61992  0.83694  6.70741  7.29052
2  6.53289  0.82329  0.81079  0.82334  0.79477  6.01697  7.19795
3  6.39582  0.82589  0.83104  0.82435  0.76917  6.37168  6.98205
4  6.55348  0.81600  0.78670  0.81334  0.81373  6.02365  7.19309

In [67]:
x_b3lyp = x_b3lyp.drop([28], axis=1)
x_cc = x_cc.drop([28], axis=1)
x_cc.head()
print(x_b3lyp.shape)
print(x_cc.shape)

(17756, 28)
(20698, 28)

In [68]:
xqy_b3lyp = pd.concat([x_b3lyp, q_b3lyp, y_b3lyp], axis=1)
xy_cc = pd.concat([x_cc, y_cc], axis=1)
print(xqy_b3lyp.shape)
print(xy_cc.shape)

(17756, 36)
(20698, 29)

In [69]:
xy_cc.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,energy_cc
0,C,1.350508,0.779024,0.663087,H,1.825709,1.257877,-0.189170,H,1.848891,...,0.559417,C,-1.832366,1.293790,-2.492349,N,-1.370433,2.318893,-2.582710,-132.436507
1,C,-0.508647,-2.138874,-3.320668,H,-0.544965,-3.037079,-2.678530,H,-2.579219,...,-4.421351,C,-2.153129,-1.813992,-3.854247,N,-2.438829,-2.964101,-4.357528,-132.412263
2,C,-0.504580,-2.127047,-3.351115,H,-0.549416,-2.984488,-2.664035,H,-2.567575,...,-4.441800,C,-2.160016,-1.828700,-3.896619,N,-2.472412,-2.978231,-4.349456,-132.419698
3,C,-0.502243,-2.115798,-3.382988,H,-0.554538,-2.932268,-2.652238,H,-2.559810,...,-4.460943,C,-2.163732,-1.847595,-3.939204,N,-2.504302,-2.990485,-4.339823,-132.424495
4,C,-0.501943,-2.104652,-3.417862,H,-0.561078,-2.879059,-2.642257,H,-2.554239,...,-4.482919,C,-2.164832,-1.870366,-3.984235,N,-2.536896,-3.002506,-4.328452,-132.424312

In [70]:
xqy_b3lyp_u = xqy_b3lyp.drop_duplicates(inplace=False)
xy_cc_u = xy_cc.drop_duplicates(inplace=False)
print(xqy_b3lyp_u.shape)
print(xy_cc_u.shape)

(17751, 36)
(20631, 29)

In [71]:
jcols = list(xqy_b3lyp_u.columns)[0:28]
print jcols

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]

In [72]:
# xqy_order = xy_cc_u.merge(right=xqy_b3lyp_u, on=jcols, how="left")
xqy_order = xqy_b3lyp_u.merge(right=xy_cc_u, on=jcols, how="left")
print(xqy_order.shape)
xqy_order.head()

(17752, 37)

,0,1,2,3,4,5,6,7,8,9,...,27,C1q,H1q,H2q,H3q,H4q,C2q,Nq,energy_b3lyp,energy_cc
0,C,1.350508,0.779024,0.663087,H,1.825709,1.257877,-0.189170,H,1.848891,...,-2.582710,6.02800,0.73523,0.68241,0.78136,0.81510,6.68888,7.26902,-133.198709,-132.436507
1,C,1.366716,0.804290,0.682895,H,1.759809,1.361483,-0.178094,H,1.814160,...,-2.596931,5.99760,0.70386,0.84375,0.61992,0.83694,6.70741,7.29052,-133.195259,-132.432389
2,C,-3.803611,-2.267309,0.764900,H,-3.796598,-3.150483,1.493531,H,-4.393698,...,2.765962,6.53289,0.82329,0.81079,0.82334,0.79477,6.01697,7.19795,-133.215182,-132.456554
3,C,-2.927686,0.153773,-2.512119,H,-2.469427,0.822793,-1.821670,H,-2.475899,...,1.097049,6.39582,0.82589,0.83104,0.82435,0.76917,6.37168,6.98205,-133.191188,-132.411586
4,C,-3.450782,3.334512,4.114650,H,-4.447155,3.741390,4.341071,H,-4.552629,...,3.776332,6.55348,0.81600,0.78670,0.81334,0.81373,6.02365,7.19309,-133.232016,-132.471474

In [73]:
ene = xqy_order['energy_cc']
xqy_order.drop(labels=['energy_cc'], axis=1, inplace=True)
xqy_order.insert(35, 'energy_cc', ene)
xqy_order.head()

,0,1,2,3,4,5,6,7,8,9,...,27,C1q,H1q,H2q,H3q,H4q,C2q,Nq,energy_cc,energy_b3lyp
0,C,1.350508,0.779024,0.663087,H,1.825709,1.257877,-0.189170,H,1.848891,...,-2.582710,6.02800,0.73523,0.68241,0.78136,0.81510,6.68888,7.26902,-132.436507,-133.198709
1,C,1.366716,0.804290,0.682895,H,1.759809,1.361483,-0.178094,H,1.814160,...,-2.596931,5.99760,0.70386,0.84375,0.61992,0.83694,6.70741,7.29052,-132.432389,-133.195259
2,C,-3.803611,-2.267309,0.764900,H,-3.796598,-3.150483,1.493531,H,-4.393698,...,2.765962,6.53289,0.82329,0.81079,0.82334,0.79477,6.01697,7.19795,-132.456554,-133.215182
3,C,-2.927686,0.153773,-2.512119,H,-2.469427,0.822793,-1.821670,H,-2.475899,...,1.097049,6.39582,0.82589,0.83104,0.82435,0.76917,6.37168,6.98205,-132.411586,-133.191188
4,C,-3.450782,3.334512,4.114650,H,-4.447155,3.741390,4.341071,H,-4.552629,...,3.776332,6.55348,0.81600,0.78670,0.81334,0.81373,6.02365,7.19309,-132.471474,-133.232016

In [74]:
cols = range(0,28,4)
print cols
xqy_new = xqy_order.drop(cols, axis=1)
xqy_new.head()

[0, 4, 8, 12, 16, 20, 24]

,1,2,3,5,6,7,9,10,11,13,...,27,C1q,H1q,H2q,H3q,H4q,C2q,Nq,energy_cc,energy_b3lyp
0,1.350508,0.779024,0.663087,1.825709,1.257877,-0.189170,1.848891,1.089646,1.577782,0.303730,...,-2.582710,6.02800,0.73523,0.68241,0.78136,0.81510,6.68888,7.26902,-132.436507,-133.198709
1,1.366716,0.804290,0.682895,1.759809,1.361483,-0.178094,1.814160,1.125417,1.600315,0.283706,...,-2.596931,5.99760,0.70386,0.84375,0.61992,0.83694,6.70741,7.29052,-132.432389,-133.195259
2,-3.803611,-2.267309,0.764900,-3.796598,-3.150483,1.493531,-4.393698,-1.399793,1.007952,-4.217465,...,2.765962,6.53289,0.82329,0.81079,0.82334,0.79477,6.01697,7.19795,-132.456554,-133.215182
3,-2.927686,0.153773,-2.512119,-2.469427,0.822793,-1.821670,-2.475899,-0.852233,-2.570246,-3.057747,...,1.097049,6.39582,0.82589,0.83104,0.82435,0.76917,6.37168,6.98205,-132.411586,-133.191188
4,-3.450782,3.334512,4.114650,-4.447155,3.741390,4.341071,-4.552629,0.118057,4.181421,-3.188349,...,3.776332,6.55348,0.81600,0.78670,0.81334,0.81373,6.02365,7.19309,-132.471474,-133.232016

In [75]:
xqy_new.columns=['C1x', 'C1y', 'C1z', 'H1x', 'H1y', 'H1z', 'H2x', 'H2y', 'H2z', 'H3x', 'H3y', 'H3z', 'H4x', 'H4y', 'H4z', 'C2x', 'C2y', 'C2z', 'Nx', 'Ny', 'Nz', 'C1q', 'H1q','H2q','H3q','H4q','C2q','Nq','energy_cc','energy_b3lyp']
print(xqy_new.shape)

(17752, 30)

In [76]:
xqy_new.to_csv('b3lyp_cc_Q_abs.csv')

In [77]:
xqy_new.head()

,C1x,C1y,C1z,H1x,H1y,H1z,H2x,H2y,H2z,H3x,...,Nz,C1q,H1q,H2q,H3q,H4q,C2q,Nq,energy_cc,energy_b3lyp
0,1.350508,0.779024,0.663087,1.825709,1.257877,-0.189170,1.848891,1.089646,1.577782,0.303730,...,-2.582710,6.02800,0.73523,0.68241,0.78136,0.81510,6.68888,7.26902,-132.436507,-133.198709
1,1.366716,0.804290,0.682895,1.759809,1.361483,-0.178094,1.814160,1.125417,1.600315,0.283706,...,-2.596931,5.99760,0.70386,0.84375,0.61992,0.83694,6.70741,7.29052,-132.432389,-133.195259
2,-3.803611,-2.267309,0.764900,-3.796598,-3.150483,1.493531,-4.393698,-1.399793,1.007952,-4.217465,...,2.765962,6.53289,0.82329,0.81079,0.82334,0.79477,6.01697,7.19795,-132.456554,-133.215182
3,-2.927686,0.153773,-2.512119,-2.469427,0.822793,-1.821670,-2.475899,-0.852233,-2.570246,-3.057747,...,1.097049,6.39582,0.82589,0.83104,0.82435,0.76917,6.37168,6.98205,-132.411586,-133.191188
4,-3.450782,3.334512,4.114650,-4.447155,3.741390,4.341071,-4.552629,0.118057,4.181421,-3.188349,...,3.776332,6.55348,0.81600,0.78670,0.81334,0.81373,6.02365,7.19309,-132.471474,-133.232016

In [78]:
import numpy as np
distC = np.sqrt((xqy_new.C1x - xqy_new.C2x)**2 + (xqy_new.C1y - xqy_new.C2y)**2 + (xqy_new.C1z - xqy_new.C2z)**2)
indexMax = distC.idxmax()
maxEneb3lyp = xqy_new["energy_b3lyp"][indexMax]
maxEneCC = xqy_new["energy_cc"][indexMax]
print(indexMax, maxEneb3lyp, maxEneCC)

(14841, -133.19384269411898, -132.41890882892)

In [79]:
xqy_rel = xqy_new
xqy_rel['energy_b3lyp'] = xqy_new['energy_b3lyp'] - maxEneb3lyp
xqy_rel['energy_cc'] = xqy_new['energy_cc'] - maxEneCC

In [80]:
xqy_rel.head()

,C1x,C1y,C1z,H1x,H1y,H1z,H2x,H2y,H2z,H3x,...,Nz,C1q,H1q,H2q,H3q,H4q,C2q,Nq,energy_cc,energy_b3lyp
0,1.350508,0.779024,0.663087,1.825709,1.257877,-0.189170,1.848891,1.089646,1.577782,0.303730,...,-2.582710,6.02800,0.73523,0.68241,0.78136,0.81510,6.68888,7.26902,-0.017598,-0.004866
1,1.366716,0.804290,0.682895,1.759809,1.361483,-0.178094,1.814160,1.125417,1.600315,0.283706,...,-2.596931,5.99760,0.70386,0.84375,0.61992,0.83694,6.70741,7.29052,-0.013480,-0.001417
2,-3.803611,-2.267309,0.764900,-3.796598,-3.150483,1.493531,-4.393698,-1.399793,1.007952,-4.217465,...,2.765962,6.53289,0.82329,0.81079,0.82334,0.79477,6.01697,7.19795,-0.037645,-0.021339
3,-2.927686,0.153773,-2.512119,-2.469427,0.822793,-1.821670,-2.475899,-0.852233,-2.570246,-3.057747,...,1.097049,6.39582,0.82589,0.83104,0.82435,0.76917,6.37168,6.98205,0.007323,0.002655
4,-3.450782,3.334512,4.114650,-4.447155,3.741390,4.341071,-4.552629,0.118057,4.181421,-3.188349,...,3.776332,6.55348,0.81600,0.78670,0.81334,0.81373,6.02365,7.19309,-0.052565,-0.038173

In [81]:
xqy_rel.to_csv('b3lyp_cc_Q_rel.csv')