In [17]:
import pandas as pd

In [18]:
x_pbe = x_pbe = pd.read_csv('../dataSets/X_pbe.csv', header=None)
y_pbe = pd.read_csv('../dataSets/Y_pbe.csv', header=None)
q_pbe = pd.read_csv('../dataSets/Q_pbe.csv', header=None)

In [19]:
x_b3lyp = x_b3lyp = pd.read_csv('../dataSets/X_b3lyp.csv', header=None)
y_b3lyp = pd.read_csv('../dataSets/Y_b3lyp.csv', header=None)
q_b3lyp = pd.read_csv('../dataSets/Q_b3lyp.csv', header=None)

In [20]:
x_pbe.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,C,1.350508,0.779024,0.663087,H,1.825709,1.257877,-0.189170,H,1.848891,...,0.559417,C,-1.832366,1.293790,-2.492349,N,-1.370433,2.318893,-2.582710,NaN
1,C,1.366716,0.804290,0.682895,H,1.759809,1.361483,-0.178094,H,1.814160,...,0.594701,C,-1.830842,1.305028,-2.473094,N,-1.354430,2.319260,-2.596931,NaN
2,C,1.438315,1.060388,0.832979,H,1.571861,1.944143,0.147314,H,1.577013,...,0.736083,C,-1.806108,1.415889,-2.311002,N,-1.218195,2.315162,-2.715039,NaN
3,C,1.948153,3.622904,2.081111,H,2.049626,3.765616,1.000288,H,2.693285,...,2.399583,C,-0.414736,2.940226,-2.453864,N,-0.876473,1.892105,-2.385047,NaN
4,C,2.649527,-0.695892,-3.065414,H,2.440014,-0.515189,-4.127145,H,-0.446906,...,-2.347429,C,0.249546,-3.627168,-3.224564,N,0.433013,-4.760249,-3.264235,NaN

In [21]:
x_b3lyp.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,C,1.350508,0.779024,0.663087,H,1.825709,1.257877,-0.189170,H,1.848891,...,0.559417,C,-1.832366,1.293790,-2.492349,N,-1.370433,2.318893,-2.582710,NaN
1,C,1.366716,0.804290,0.682895,H,1.759809,1.361483,-0.178094,H,1.814160,...,0.594701,C,-1.830842,1.305028,-2.473094,N,-1.354430,2.319260,-2.596931,NaN
2,C,-3.803611,-2.267309,0.764900,H,-3.796598,-3.150483,1.493531,H,-4.393698,...,1.937266,C,-2.613919,0.179199,2.330572,N,-2.536911,1.241336,2.765962,NaN
3,C,-2.927686,0.153773,-2.512119,H,-2.469427,0.822793,-1.821670,H,-2.475899,...,-1.970984,C,-3.879463,-0.205050,0.063446,N,-4.423705,-0.138430,1.097049,NaN
4,C,-3.450782,3.334512,4.114650,H,-4.447155,3.741390,4.341071,H,-4.552629,...,4.908800,C,-4.440723,-0.970431,3.946023,N,-4.649342,-2.117911,3.776332,NaN

In [22]:
y_pbe.columns=['energy_pbe']
y_b3lyp.columns=['energy_b3lyp']
y_pbe.head()

   energy_pbe
0 -131.356978
1 -131.353254
2 -131.317326
3 -131.353906
4 -131.348082

In [23]:
q_pbe.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,C,6.55438,H,0.86062,H,0.86105,H,0.86199,H,0.86194,C,6.18917,N,6.81086,NaN
1,C,6.54250,H,0.86282,H,0.86075,H,0.86827,H,0.86548,C,6.18986,N,6.81033,NaN
2,C,5.93576,H,0.71892,H,0.83033,H,0.69595,H,0.81927,C,6.66135,N,7.33841,NaN
3,C,6.54921,H,0.86531,H,0.85578,H,0.87014,H,0.85956,C,6.17456,N,6.82544,NaN
4,C,6.45450,H,0.84487,H,0.82359,H,0.84965,H,0.85046,C,6.04506,N,7.13187,NaN

In [24]:
q_pbe = q_pbe.drop([0,2,4,6,8,10,12,14], axis=1)
q_pbe.columns=['C1q', 'H1q','H2q','H3q','H4q','C2q','Nq']
q_pbe.head()

       C1q      H1q      H2q      H3q      H4q      C2q       Nq
0  6.55438  0.86062  0.86105  0.86199  0.86194  6.18917  6.81086
1  6.54250  0.86282  0.86075  0.86827  0.86548  6.18986  6.81033
2  5.93576  0.71892  0.83033  0.69595  0.81927  6.66135  7.33841
3  6.54921  0.86531  0.85578  0.87014  0.85956  6.17456  6.82544
4  6.45450  0.84487  0.82359  0.84965  0.85046  6.04506  7.13187

In [25]:
x_pbe = x_pbe.drop([28], axis=1)
x_b3lyp = x_b3lyp.drop([28], axis=1)
x_b3lyp.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,C,1.350508,0.779024,0.663087,H,1.825709,1.257877,-0.189170,H,1.848891,...,-0.300512,0.559417,C,-1.832366,1.293790,-2.492349,N,-1.370433,2.318893,-2.582710
1,C,1.366716,0.804290,0.682895,H,1.759809,1.361483,-0.178094,H,1.814160,...,-0.299335,0.594701,C,-1.830842,1.305028,-2.473094,N,-1.354430,2.319260,-2.596931
2,C,-3.803611,-2.267309,0.764900,H,-3.796598,-3.150483,1.493531,H,-4.393698,...,-0.866691,1.937266,C,-2.613919,0.179199,2.330572,N,-2.536911,1.241336,2.765962
3,C,-2.927686,0.153773,-2.512119,H,-2.469427,0.822793,-1.821670,H,-2.475899,...,0.011604,-1.970984,C,-3.879463,-0.205050,0.063446,N,-4.423705,-0.138430,1.097049
4,C,-3.450782,3.334512,4.114650,H,-4.447155,3.741390,4.341071,H,-4.552629,...,3.171041,4.908800,C,-4.440723,-0.970431,3.946023,N,-4.649342,-2.117911,3.776332

In [26]:
xqy_pbe = pd.concat([x_pbe, q_pbe, y_pbe], axis=1)
xy_b3lyp = pd.concat([x_b3lyp, y_b3lyp], axis=1)

In [28]:
xy_b3lyp.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,energy_b3lyp
0,C,1.350508,0.779024,0.663087,H,1.825709,1.257877,-0.189170,H,1.848891,...,0.559417,C,-1.832366,1.293790,-2.492349,N,-1.370433,2.318893,-2.582710,-133.198709
1,C,1.366716,0.804290,0.682895,H,1.759809,1.361483,-0.178094,H,1.814160,...,0.594701,C,-1.830842,1.305028,-2.473094,N,-1.354430,2.319260,-2.596931,-133.195259
2,C,-3.803611,-2.267309,0.764900,H,-3.796598,-3.150483,1.493531,H,-4.393698,...,1.937266,C,-2.613919,0.179199,2.330572,N,-2.536911,1.241336,2.765962,-133.215182
3,C,-2.927686,0.153773,-2.512119,H,-2.469427,0.822793,-1.821670,H,-2.475899,...,-1.970984,C,-3.879463,-0.205050,0.063446,N,-4.423705,-0.138430,1.097049,-133.191188
4,C,-3.450782,3.334512,4.114650,H,-4.447155,3.741390,4.341071,H,-4.552629,...,4.908800,C,-4.440723,-0.970431,3.946023,N,-4.649342,-2.117911,3.776332,-133.232016

In [29]:
xqy_pbe_u = xqy_pbe.drop_duplicates(inplace=False)
xy_b3lyp_u = xy_b3lyp.drop_duplicates(inplace=False)
print(xqy_pbe.shape)
print(xqy_pbe_u.shape)

(47733, 36)
(47717, 36)

In [30]:
jcols = list(xqy_pbe_u.columns)[0:28]
print jcols

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]

In [40]:
xqy_order = xy_b3lyp_u.merge(right=xqy_pbe_u, on=jcols, how="left")
xqy_order.head()

,0,1,2,3,4,5,6,7,8,9,...,27,energy_b3lyp,C1q,H1q,H2q,H3q,H4q,C2q,Nq,energy_pbe
0,C,1.350508,0.779024,0.663087,H,1.825709,1.257877,-0.189170,H,1.848891,...,-2.582710,-133.198709,6.55438,0.86062,0.86105,0.86199,0.86194,6.18917,6.81086,-131.356978
1,C,1.366716,0.804290,0.682895,H,1.759809,1.361483,-0.178094,H,1.814160,...,-2.596931,-133.195259,6.54250,0.86282,0.86075,0.86827,0.86548,6.18986,6.81033,-131.353254
2,C,-3.803611,-2.267309,0.764900,H,-3.796598,-3.150483,1.493531,H,-4.393698,...,2.765962,-133.215182,6.46709,0.84611,0.84268,0.84162,0.83048,6.03792,7.13410,-131.353856
3,C,-2.927686,0.153773,-2.512119,H,-2.469427,0.822793,-1.821670,H,-2.475899,...,1.097049,-133.191188,6.45426,0.85386,0.85348,0.84466,0.83429,6.20796,6.95149,-131.360999
4,C,-3.450782,3.334512,4.114650,H,-4.447155,3.741390,4.341071,H,-4.552629,...,3.776332,-133.232016,6.47348,0.84300,0.82627,0.84270,0.84048,6.03710,7.13698,-131.372078

In [41]:
ene = xqy_order['energy_b3lyp']
xqy_order.drop(labels=['energy_b3lyp'], axis=1, inplace=True)
xqy_order.insert(35, 'energy_b3lyp', ene)
xqy_order.head()

,0,1,2,3,4,5,6,7,8,9,...,27,C1q,H1q,H2q,H3q,H4q,C2q,Nq,energy_b3lyp,energy_pbe
0,C,1.350508,0.779024,0.663087,H,1.825709,1.257877,-0.189170,H,1.848891,...,-2.582710,6.55438,0.86062,0.86105,0.86199,0.86194,6.18917,6.81086,-133.198709,-131.356978
1,C,1.366716,0.804290,0.682895,H,1.759809,1.361483,-0.178094,H,1.814160,...,-2.596931,6.54250,0.86282,0.86075,0.86827,0.86548,6.18986,6.81033,-133.195259,-131.353254
2,C,-3.803611,-2.267309,0.764900,H,-3.796598,-3.150483,1.493531,H,-4.393698,...,2.765962,6.46709,0.84611,0.84268,0.84162,0.83048,6.03792,7.13410,-133.215182,-131.353856
3,C,-2.927686,0.153773,-2.512119,H,-2.469427,0.822793,-1.821670,H,-2.475899,...,1.097049,6.45426,0.85386,0.85348,0.84466,0.83429,6.20796,6.95149,-133.191188,-131.360999
4,C,-3.450782,3.334512,4.114650,H,-4.447155,3.741390,4.341071,H,-4.552629,...,3.776332,6.47348,0.84300,0.82627,0.84270,0.84048,6.03710,7.13698,-133.232016,-131.372078

In [42]:
cols = range(0,28,4)
print cols
xqy_new = xqy_order.drop(cols, axis=1)
xqy_new.head()

[0, 4, 8, 12, 16, 20, 24]

,1,2,3,5,6,7,9,10,11,13,...,27,C1q,H1q,H2q,H3q,H4q,C2q,Nq,energy_b3lyp,energy_pbe
0,1.350508,0.779024,0.663087,1.825709,1.257877,-0.189170,1.848891,1.089646,1.577782,0.303730,...,-2.582710,6.55438,0.86062,0.86105,0.86199,0.86194,6.18917,6.81086,-133.198709,-131.356978
1,1.366716,0.804290,0.682895,1.759809,1.361483,-0.178094,1.814160,1.125417,1.600315,0.283706,...,-2.596931,6.54250,0.86282,0.86075,0.86827,0.86548,6.18986,6.81033,-133.195259,-131.353254
2,-3.803611,-2.267309,0.764900,-3.796598,-3.150483,1.493531,-4.393698,-1.399793,1.007952,-4.217465,...,2.765962,6.46709,0.84611,0.84268,0.84162,0.83048,6.03792,7.13410,-133.215182,-131.353856
3,-2.927686,0.153773,-2.512119,-2.469427,0.822793,-1.821670,-2.475899,-0.852233,-2.570246,-3.057747,...,1.097049,6.45426,0.85386,0.85348,0.84466,0.83429,6.20796,6.95149,-133.191188,-131.360999
4,-3.450782,3.334512,4.114650,-4.447155,3.741390,4.341071,-4.552629,0.118057,4.181421,-3.188349,...,3.776332,6.47348,0.84300,0.82627,0.84270,0.84048,6.03710,7.13698,-133.232016,-131.372078

In [43]:
xqy_new.to_csv('pbe_b3lyp_Q_test_abs.csv')

In [44]:
xqy_new.columns=['C1x', 'C1y', 'C1z', 'H1x', 'H1y', 'H1z', 'H2x', 'H2y', 'H2z', 'H3x', 'H3y', 'H3z', 'H4x', 'H4y', 'H4z', 'C2x', 'C2y', 'C2z', 'Nx', 'Ny', 'Nz', 'C1q', 'H1q','H2q','H3q','H4q','C2q','Nq','energy_b3lyp','energy_pbe']

In [45]:
xqy_new.head()

,C1x,C1y,C1z,H1x,H1y,H1z,H2x,H2y,H2z,H3x,...,Nz,C1q,H1q,H2q,H3q,H4q,C2q,Nq,energy_b3lyp,energy_pbe
0,1.350508,0.779024,0.663087,1.825709,1.257877,-0.189170,1.848891,1.089646,1.577782,0.303730,...,-2.582710,6.55438,0.86062,0.86105,0.86199,0.86194,6.18917,6.81086,-133.198709,-131.356978
1,1.366716,0.804290,0.682895,1.759809,1.361483,-0.178094,1.814160,1.125417,1.600315,0.283706,...,-2.596931,6.54250,0.86282,0.86075,0.86827,0.86548,6.18986,6.81033,-133.195259,-131.353254
2,-3.803611,-2.267309,0.764900,-3.796598,-3.150483,1.493531,-4.393698,-1.399793,1.007952,-4.217465,...,2.765962,6.46709,0.84611,0.84268,0.84162,0.83048,6.03792,7.13410,-133.215182,-131.353856
3,-2.927686,0.153773,-2.512119,-2.469427,0.822793,-1.821670,-2.475899,-0.852233,-2.570246,-3.057747,...,1.097049,6.45426,0.85386,0.85348,0.84466,0.83429,6.20796,6.95149,-133.191188,-131.360999
4,-3.450782,3.334512,4.114650,-4.447155,3.741390,4.341071,-4.552629,0.118057,4.181421,-3.188349,...,3.776332,6.47348,0.84300,0.82627,0.84270,0.84048,6.03710,7.13698,-133.232016,-131.372078

In [48]:
import numpy as np
distC = np.sqrt((xqy_new.C1x - xqy_new.C2x)**2 + (xqy_new.C1y - xqy_new.C2y)**2 + (xqy_new.C1z - xqy_new.C2z)**2)
indexMax = distC.idxmax()
maxEnepbe = xqy_new["energy_pbe"][indexMax]
maxEneb3lyp = xqy_new["energy_b3lyp"][indexMax]
print(indexMax, maxEnepbe, maxEneb3lyp)

(14840, -131.373343639643, -133.19384269411898)

In [49]:
xqy_rel = xqy_new
xqy_rel['energy_pbe'] = xqy_new['energy_pbe'] - maxEnepbe
xqy_rel['energy_b3lyp'] = xqy_new['energy_b3lyp'] - maxEneb3lyp

In [50]:
xqy_rel.head()

,C1x,C1y,C1z,H1x,H1y,H1z,H2x,H2y,H2z,H3x,...,Nz,C1q,H1q,H2q,H3q,H4q,C2q,Nq,energy_b3lyp,energy_pbe
0,1.350508,0.779024,0.663087,1.825709,1.257877,-0.189170,1.848891,1.089646,1.577782,0.303730,...,-2.582710,6.55438,0.86062,0.86105,0.86199,0.86194,6.18917,6.81086,-0.004866,0.016366
1,1.366716,0.804290,0.682895,1.759809,1.361483,-0.178094,1.814160,1.125417,1.600315,0.283706,...,-2.596931,6.54250,0.86282,0.86075,0.86827,0.86548,6.18986,6.81033,-0.001417,0.020090
2,-3.803611,-2.267309,0.764900,-3.796598,-3.150483,1.493531,-4.393698,-1.399793,1.007952,-4.217465,...,2.765962,6.46709,0.84611,0.84268,0.84162,0.83048,6.03792,7.13410,-0.021339,0.019488
3,-2.927686,0.153773,-2.512119,-2.469427,0.822793,-1.821670,-2.475899,-0.852233,-2.570246,-3.057747,...,1.097049,6.45426,0.85386,0.85348,0.84466,0.83429,6.20796,6.95149,0.002655,0.012344
4,-3.450782,3.334512,4.114650,-4.447155,3.741390,4.341071,-4.552629,0.118057,4.181421,-3.188349,...,3.776332,6.47348,0.84300,0.82627,0.84270,0.84048,6.03710,7.13698,-0.038173,0.001266

In [51]:
xqy_rel.to_csv('pbe_b3lyp_Q_test_rel.csv')